Sphinx==7.0.1
sphinx-tabs==3.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-htmlhelp==2.0.1
docutils==0.18.1
jsmin==3.0.1
Jinja2==3.1.4
Pygments==2.15.1
sphinx-reredirects==0.1.2
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability